<div class="body">
  <div class="redesign">
  <div class="overlay-linear-gradient"></div>
    <div class="heroContainer">
      <h1 class="heroText">Joe Roberts</h1>
      <div class="subheader">
      <h2 class="job-title web">web&nbsp;</h2>
      <h2 class="job-title developer">developer</h2>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="intro">
    <p  class="scroll-text">Hi, I'm Joe: welcome to my portfolio!</p>
    <p class="scroll-text">Below you'll see some examples of my work as a developer.</p>
    <p class="scroll-text">These have been created in a variety of contexts: pro-bono work for
    non-profit clients; collaborative work completed as part of a full stack web
    development bootcamp, and personal projects built in the pursuit of learning
    new skills.</p>
    <p class="scroll-text">Please reach out to me via <%= link_to "LinkedIn", 'www.linkedin.com/in/joe-roberts-web/', target:"_blank" %> if you have any questions!</p>
    </div>
    <div class="projects">
      <div class="thrive project project-left">
        <div class="project-intro">
          <h3 class="title thrive-logo scroll-text">THRIVE OUT LOUD</h3>
          <p class="project-about scroll-text">Next.JS | Express | Firebase | Google Cloud | Non-profit client</p>
        </div>
        <%= image_tag("thrive-3.png", class:"project-image-desktop") %>
        <%= image_tag("thrive-2.png", class:"project-image-mobile project-image-mobile-left" ) %>
        <p class="scroll-text">Thrive Out Loud, built for the LBTQ+ non-profit "Sean's Legacy", is a web
          application built to pair LGBTQ+ young adults with mentors from the professional
          world.</p>
        <p class="scroll-text">I implemented the onboarding flow to collect a user's data and store
          it in the database on sign-up, and oversaw front end development of
          the site in-line with UX designs.</p>
        <p class="scroll-text">I also designed a scalable model for the data in our database,
          and advised and oversaw the implementation of data-privacy best practices.</p>
        <p class="scroll-text">This was all managed over the course of two months, having inherited
          the project in an entirely new stack and without any handover or documentation.</p>
        <%= link_to 'https://github.com/Sean-s-Legacy/thrive-out-loud/', target: "_blank", class:"project-link" do %>
          <i class="fa-brands fa-github"></i> Check out the GitHub repo
        <% end %>
      </div>
      <div class="farmland project project-right">
        <div class="project-intro">
          <h3 class="title farmland-logo">Farmland</h3>
          <p class="project-about scroll-text">Full-stack Rails web application | Bootcamp final project</p>
        </div>
        <%= image_tag("Farmland-desktop.png", class:"project-image-desktop") %>
        <%= image_tag("Farmland-1.png", class:"project-image-mobile project-image-mobile-right") %>
        <p class="scroll-text">Farmland allows users to order from and
        carpool to local farms, all while tracking their CO2 savings versus
        buying produce from retail stores.</p>
        <p class="scroll-text">This was a team project conceived,
        designed and built at Le Wagon's full time web development bootcamp in
        under two weeks.</p>
        <p class="scroll-text">I was primarily responsible for nested forms which
        users could use to create orders and optionally offer carpool spaces to
        other users. I also built the carbon calculator feature.</p>
        <%= link_to "https://github.com/sebasfourn/farmland", target:"_blank", class:"project-link" do%>
        <i class="fa-brands fa-github"></i> Check out the GitHub repo
        <% end %>
    </div>
    <div class="Workout Tracker project project-left">
      <div class="project-intro">
        <h3 class="title workout-tracker-logo">Workout Tracker</h3>
        <p class="project-about scroll-text">Rails API | React frontend | Token-based authentication</p>
      </div>
        <%= image_tag("workout-tracker-desktop.png", class:"project-image-desktop") %>
        <%= image_tag("workout-tracker-mobile.png", class:"project-image-mobile project-image-mobile-left") %>
        <p class="scroll-text">Workout Tracker is an application for people who
        might be new to working out, are a little bit shy at the gym, or just want
        to get into the gym, do their workout and get out as fast as possible!</p>
        <p class="scroll-text">Currently it just tracks your workout, but the
        future of this application involves adding data visualisation so that
        users can find the quietest times to work out specific body areas at their
        gyms.</p>
        <p class="scroll-text">Workout Tracker was built as a separate front- and back-end in React and Rails.</p>
        <p><%= link_to "https://github.com/joe-roberts-93/workout-tracker", target:"_blank", class:"project-link" do%>
        <i class="fa-brands fa-github"></i> Check out the frontend GitHub repo
        <% end %>
        </p>
        <p>
        <%= link_to "https://github.com/joe-roberts-93/gym-app", target:"_blank", class:"project-link" do%>
        <i class="fa-brands fa-github"></i> Check out the backend GitHub repo
        <% end %>
        </p>
    </div>
    <div class="contact">
      <h3 class="title">Contact</h3>
      <p>I am currently open to work and new projects.</p>
      <p>Feel free to reach out to me on LinkedIn at </p>
      <%= link_to "www.linkedin.com/in/joe-roberts-web/", target:"_blank" do %>
        www.linkedin.com/in/joe-roberts-web
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag "scroll_text" %>
<%= javascript_include_tag "animated" %>
<%= javascript_include_tag "add_yellow" %>
