<div class="intro">
  <div class="intro-photo">
    <%= image_tag("joe-roberts.jpg", alt:"A photo of Joe Roberts smiling from a cliff above a beach", class:"profile-picture") %>
  </div>
  <div class = intro-text-container>
    <h1 class="intro-text">Hi, I'm Joe Roberts</h1>
    <p class="intro-text">I'm excited for you to check out my projects!</p>
    <a class="intro-button" href="#projects">Take&nbsp;me&nbsp;right&nbsp;to&nbsp;them!</a>
  </div>
</div>
<div id="about" class="section dark">
  <div class="section-header">
    <h2>About me</h2>
    <p class= "section-intro">Read about my background, skills, and what it's like to work with me</p>
  </div>
  <div class="about-top">
    <div class="who-am-i">
      <h3>Who am I?</h3>
      <p>
        I’m a full stack developer who loves to create things and fix problems. After becoming curious about code and wanting community and to take things further, I took a bootcamp in the summer of 2023.
        <br>
        <br>
        I love to work in a team, but am currently enjoying the freedom of working on personal projects and learning new skills while I seek full-time work.
      </p>
    </div>
    <div class="skills">
      <h3>What can I do?</h3>
      <ul>
        <li>Ruby on Rails</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Git</li>
        <li>GitHub</li>
        <li>Heroku</li>
        <li>Figma</li>
      </ul>
    </div>
  </div>
  <div class="personality">
    <h3>What am I like to work with?</h3>
    <div class="recommendation card-item">
      <div class="recommender">
        <%= image_tag("priscilla-uribe.jpg", alt:"Photo of Priscilla Uribe", class: "recommender-photo") %>
        <p><span class="bold">Priscilla Uribe</span> (She/Her) <br>
        <em>Full-Stack Developer, Co-Founder & COO @ Brokol App</em><br>
        </p>
      </div>
      <p class="recommendation-text">It was an honor to work with Joe at Le Wagon Canada's Web Development Bootcamp this summer. Our collaboration peaked during our Farmland web app project, which we developed in just 7 days using Ruby on Rails.</p>
      <p class="recommendation-text">Joe isn't just one of the most talented coders I've had the pleasure of working with; he is also great at communicating and establishing human relationships in teamwork settings. His motivation and quick adaptability to new concepts and tasks, played a crucial role in our project's success.</p>
      <p class="recommendation-text">I am confident that Joe will be an invaluable asset to any workplace he chooses to join!</p>
    </div>
  </div>
</div>
<div id="projects" class="section">
  <div class="section-header">
    <h2>My Work</h2>
    <p class= "section-intro">Take a look at some of the things I've worked on.</p>
    <p class="section-intro"> This is a collection of work done for clients, as well as personal projects and proofs of concept.</p>
  </div>
<%= render "projects" %>
<div id="contact" class="section dark">
  <div class="section-header">
    <h2>Contact</h2>
    <p class= "section-intro">Check out my <a href="https://www.linkedin.com/in/joe-roberts-web/">LinkedIn</a> and <a href="https://github.com/joe-roberts-93">GitHub</a> or drop me an email using the form below.</p>
  </div>
  <div class="contact-details">
  <div class="form">
  <%= form_with scope: :contact_form, url: contact_form_index_path, method: :post, local: true, class: "container" do |form| %>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, required: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, required: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.email_field :email, required: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :message %>
      <%= form.text_area :message, required: true, class: "form-control" %>
    </div>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
<div>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>
