<!DOCTYPE html>
<html>
  <head>
    <title>PersonalWebsite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body data-controller="menu">
  <div class="nav">
    <a class="name" href="#">Joe Roberts</a>
    <i class="fa-solid fa-bars menu-icon is-hidden" data-action="click->menu#showMenu"></i>
    <ul class="horizontal-menu nav-font">
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    </div>
    <div class="vertical-menu is-hidden nav-font">
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
    <%= yield %>
  </body>
</html>
